/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/exo-3');
@import url('https://fonts.cdnfonts.com/css/poppins');

/* Variables*/
:root{
    /*Fuentes*/
    --tipografia:'Exo', sans-serif;
    --tipografia1:'Poppins', sans-serif;
    /*Paleta de colores*/
    --colorClaro: #92DDC2;
    --colorOscuro:#353530;
    --colorContraste1:#B23B29;
    --colorContraste2:#DDC292;
}

/* Condiciones iniciales*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    background-color: #92ddc285;
    font-family: var(--tipografia);
    color: var(--colorOscuro);
    overflow-x: hidden;
}

/*----- HEADER -----*/

header{
    width: 100vw;
    height: 100vh;
}

/* Menú de navegación */
.menuNav{
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    width: 100vw;
    height: 100px;
    padding: 10px;
    position: fixed;
    z-index: 10 ;
}
.logo{
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo{
    height: 35px;
}
.listaMenu{
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.listaMenu a{
    text-decoration: none;
    color: var(--colorClaro);
    font-size: 18px;
    font-weight: bold;
    font-style: normal
}
.listaMenu a:hover{
    color: var(--colorContraste2);
}

/* Banner */
.banner{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(to bottom, var(--colorClaro), #FFFF);
}
.imgBanner {
    object-fit: fill;
}
.banner1{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.banderin {
    position: absolute;
    width: 60%;
    height: 100%;
    z-index: 0;
}
.banderin img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.logo-completo{
    padding-left: 100px;
    width: 50%;
}
.logo-completo img{
    width: 50%;
    height: 50%;
    object-fit: fill;
}
.slogan {
    width: 50%;
    height: 100%;
    padding: 30px;
    padding-right: 100px;
    font-size: 275%;
    text-align: right;
    z-index: 2;
}
#Boton1{
    z-index: 1;
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--tipografia1);
    font-weight: bold;
    border-radius: 10px;
    background-color: #277C5D;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
#Boton1:active{
    transform: scale(0.85);
    background-color: var(--colorContraste1);
}

/*----- MAIN -----*/
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Anuncios */
.anuncios{
    width: 100%;
    height: 400px;
    display: flex;
    background: linear-gradient(to bottom, #FFFF, var(--colorClaro));
}
.anuncio1{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.img-anuncio{
    position: relative;
    width: 85%;
    height: 80%;
    font-weight: bold;
    overflow: hidden;
}
.img-anuncio p {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
    font-size: 35px;
}
.img-anuncio img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: fill;
}
.img-anuncio img:hover{
    transform: scale(1.5);
    overflow: hidden;
}

#Boton2{
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--tipografia1);
    border-radius: 30px;
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
#Boton2:active{
    transform: scale(0.85);
    background-color: var(--colorContraste1);
}
#Boton3{
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--tipografia1);
    border-radius: 30px;
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
#Boton3:active{
    transform: scale(0.85);
    background-color: var(--colorContraste1);
}
#Boton4{
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--tipografia1);
    border-radius: 30px;
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
#Boton4:active{
    transform: scale(0.85);
    background-color: var(--colorContraste1);
}
/* Carruseles*/
.escolar {
    width: 100%;
    height: 430px;
    padding: 30px;
    background: linear-gradient(to bottom, var(--colorClaro), #eefff9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oficina {
    width: 100%;
    height: 430px;
    padding: 30px;
    background: #eefff9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accesorios {
    width: 100%;
    height: 430px;
    padding: 30px;
    background: linear-gradient(to bottom, #eefff9, var(--colorClaro));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Estilos carrusel escolar y accesorios */
.titulo-carrusel{
    height: 70px;
}
.titulo-carrusel h2{
    text-align: center;
    font-size: 2rem;
}
.titulo-carrusel span {
    text-align: center;
    font-family: var(--tipografia1);
    font-size: 0.8 rem;
}
.wrapper {
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    height: 300px;
    position: relative;
}
.wrapper i {
    top: 125px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    color: #277C5D;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper .carousel{
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 47px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.23);
    scroll-snap-align: start;
    height: 290px;
    width: 270px;
    list-style: none;
    background:#baf5e0;
    padding-bottom: 5px;
    flex-direction: column;
    border-radius: 8px;
}
.carousel .card .img {
    border: solid #DDC292;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.card .img img {
    width: 198px;
    height: 198px;
    border-radius: 50%;
    object-fit: cover;
}
.carousel .card h3 {
    font-family: var(--tipografia1);
    font-weight: 500;
    font-size: 1rem;
    margin: 30px 0 5px;
    color: var(--colorOscuro);
}
.carousel .card span {
    color: #6A6D78;
    font-size: 1rem;
    font-family: var(--tipografia1);
}
/* Estilos carrusel oficina*/
.carousel.dragging .cardOfi {
    cursor: grab;
    user-select: none;
}
.carousel :where(.cardOfi, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .cardOfi {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.23);
    scroll-snap-align: start;
    height: 290px;
    width: 270px;
    list-style: none;
    background:#fff;
    padding-bottom: 5px;
    flex-direction: column;
    border-radius: 8px;
}
.carousel .cardOfi .img {
    border: solid #DDC292;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.cardOfi .img img {
    width: 198px;
    height: 198px;
    border-radius: 50%;
    object-fit: cover;
}
.carousel .cardOfi h3 {
    font-family: var(--tipografia1);
    font-weight: 500;
    font-size: 1rem;
    margin: 30px 0 5px;
    color: var(--colorOscuro);
}
.carousel .cardOfi span {
    color: #6A6D78;
    font-size: 1rem;
    font-family: var(--tipografia1);
}

  
@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2));
    }
}
@media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
}

/* ---------FOOTER------- */

/* ---------FOOTER------- */

/* definir qué es lo que van a editar */
/* contenedor padre */
footer {
    /* dimensiones */
    width: 100vw;
    height: calc(100vh - 100px);
    /* aspectos generales */
    background-color: var(--colorClaro);
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    color: white;
    font-family: var(--tipografia);
}

.footer-contact {
    width: 100%;
    height: 100%;
}
.footer-social {
    background-color: var(--colorOscuro);
    height: 100%;
    width: 100%;
    text-align: center;
}

.footer-contact h2 {
    color: var(--colorOscuro);
    text-decoration: underline;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}

.footer-contact form {
    display: flex;
    flex-direction: column;
    padding: 10%;
}
.footer-contact textarea {
    border: solid var(--colorOscuro);
    margin-bottom: 10px;
    padding: 10px;
}

/*contendedor de mensajes*/
.mensaje-contact {
    height: 10vw;
    margin-top: 10px;
    font-family: var(--tipografia);
    border-radius: 10px;
}
.email-contact {
    height: 5vw;
    font-family: var(--tipografia);
    border-radius: 10px;
    border: solid var(--colorOscuro);
}
.text-emailcontact{
    font-family: var(--tipografia);
    color: #353530;
}
.text-mensajecontact{
    font-family: var(--tipografia);
    color: #353530;
    margin-top: 50px;
}

.botonEnviar {
    margin-top: 10px;
}

/* Los íconos en css y html, se toman como si fueran texto */
.redesSociales {
    text-align: center;
    color: #92DDC2;
}

i {
    margin: 15px;
    color: var(--colorClaro);
}

.footer-social p {
    font-family: var(--tipografia);
    color: var(--colorClaro);
    /* Color del texto */
}

.footer-contact button {
    font-family: var(--tipografia);
    background-color: var(--colorOscuro);
    /* Color de fondo del botón */
    color: var(--colorClaro);
    /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    transition: .45s ease;
}

.footer-contact button:hover{
    transform: scale(0.9);
}
.social-icons {
    height: 40px;
    padding-bottom: 80px;
}
.social-icons i {
    height: 30px;
    width: 30px;
    color: var(--colorText);
    font-size: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    transition: all .45s ease;
}

.social-icons i:hover{
    color: var(--colorContraste2);
  }

.footer-social a {
    color: var(--colorClaro);
    /* Color del enlace */
    text-decoration: none;
}

.p-redessociales{
    font-size: 30PX;
}
/*ESTE ES EL LOGO */
.logo-redes {
    height: 250px;
    align-items: center;
}

/* Añadir estilos responsivos si es necesario */
@media (max-width: 768px) {
    .site-footer {
        flex-direction: column;
    }
}