/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/exo-3');
@import url('https://fonts.cdnfonts.com/css/poppins');

/* Variables*/
:root{
    /*Fuentes*/
    --tipografia:'Exo', sans-serif;
    --tipografia1:'Poppins', sans-serif;
    /*Paleta de colores*/
    --colorClaro: #92DDC2;
    --colorOscuro:#353530;
    --colorContraste1:#B23B29;
    --colorContraste2:#DDC292;
}

/* Condiciones iniciales*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    background-color: #92ddc285;
    font-family: var(--tipografia);
    color: var(--colorOscuro);
    overflow-x: hidden;
}

/*----- HEADER -----*/

header{
    width: 100vw;
    height: 100vh;
}

/* Menú de navegación */
.menuNav{
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    width: 100vw;
    height: 100px;
    padding: 10px;
    position: fixed;
}
.logo{
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo{
    height: 35px;
}
.listaMenu{
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.listaMenu a{
    text-decoration: none;
    color: var(--colorClaro);
    font-size: 18px;
    font-weight: bold;
}
.listaMenu a:hover{
    color: var(--colorContraste2);
}

/* Banner */
.banner{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(to bottom, var(--colorClaro), #FFFF);
}
.banner1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-completo{
    padding-left: 100px;
    width: 50%;
}
.logo-completo img{
    width: 50%;
    height: 50%;
    object-fit: fill;
}
.slogan {
    width: 50%;
    height: 100%;
    padding: 30px;
    padding-right: 100px;
    font-size: 275%;
    text-align: right;
}
#Boton1{
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--tipografia1);
    font-weight: bold;
    border-radius: 10px;
    background-color: #277C5D;
    color: white;
    border: none;
    cursor: pointer;
}
#Boton1:hover {
    background-color: var(--colorContraste1);
}

/*----- MAIN -----*/
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Anuncios */
.anuncios{
    width: 100%;
    height: 400px;
    display: flex;
    background: linear-gradient(to bottom, #FFFF, var(--colorClaro));
}
.anuncio1{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.img-anuncio{
    position: relative;
    width: 85%;
    height: 80%;
    font-weight: bold;
}
.img-anuncio p {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
    font-size: 35px;
}
.img-anuncio img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.6;
    object-fit: fill;
}
#Boton2{
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--tipografia1);
    border-radius: 30px;
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    border: none;
    cursor: pointer;
}
#Boton2:hover {
    background-color: var(--colorContraste1);
}
#Boton3{
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--tipografia1);
    border-radius: 30px;
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    border: none;
    cursor: pointer;
}
#Boton3:hover {
    background-color: var(--colorContraste1);
}
#Boton4{
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--tipografia1);
    border-radius: 30px;
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    border: none;
    cursor: pointer;
}
#Boton4:hover {
    background-color: var(--colorContraste1);
}
/* Carrusel */
h4,h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.corousel{
    width: 100%;
    margin: 0px 0px;
}
@media(min-width: 768px){
    .corousel{
        margin: 0px 60px;
    }
}
.carrousel h2 {
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #FFFF;
}
.carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.carrusel{
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color:#FFFF;
    padding: 15px;
}
.carrusel h4 small {
    font-size: 15px;
    display: block;
}
.carrusel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5 px 0 rgba (0,0,0,0.5);
    transition: .3s ease-in-out;
}
@media(min-width:768px){
    .carrusel{
        width: 275px;
    }
    .carrusel a img {
        width: 250 px;
    }
}
.carrusel-arrow{
    border-radius: 30px;
    background-color: #FFFF;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.carrusel-arrow:focus{
    outline:0;
}
.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color:rgba(0,0,0,0.7);
}
.carrusel-prev {
    left: 0px;
}
.carrusel-next {
    right: 0px;
}






#div-video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#div-video iframe{
    width: 50%;
}

#div-video p{
    width: 50%;
}
/* Seccion 2 */

.seccion2{
    width: 80%;
}

.contenedor-img{

    /* organizar en filas y columnas */
    display: grid;
    /* filas */
    /* 1fr -> me ocupe una fracción del espacio */
    grid-template-rows: 1fr 1fr 1fr;

    /* Columnas  */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.contenedor-img img{
    width: 100%;
    height: 100%;
}


.titulo{
    /* centrar texto */
    text-align: center;
    /* textos en mayúscula */
    text-transform: uppercase;
    /* margen arriba y abajo - derecha e izquierda */
    margin: 20px 0px;
}

/* ---------FOOTER------- */

/* definir qué es lo que van a editar */
/* contenedor padre */
footer{
    /* dimensiones */
    width: 100%;
    height: auto;
    /* aspectos generales */
    background-color: var(--colorClaro);
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    color: white;
}

.logo-2{
    width: 100px;
    height: 100px;
}

/* Los íconos en css y html, se toman como si fueran texto */
.redesSociales{
    text-align: center;
}
h3{
    text-align: center;
    margin-bottom: 15px;
}
i{
    margin: 15px;
    color: white;
}
