/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/exo-3');
@import url('https://fonts.cdnfonts.com/css/poppins');

/* Variables*/
:root {
    /*Fuentes*/
    --tipografia: 'Exo', sans-serif;
    --tipografia1: 'Poppins', sans-serif;
    /*Paleta de colores*/
    --colorClaro: #92DDC2;
    --colorOscuro: #353530;
    --colorContraste1: #B23B29;
    --colorContraste2: #DDC292;
}

/* Condiciones iniciales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    background-color: #92ddc285;
    font-family: var(--tipografia);
    color: var(--colorOscuro);
    overflow-x: hidden;
}

/*----- HEADER -----*/

header {
    width: 100vw;
    height: 15vh;
}

/* Menú de navegación */
.menuNav {
    background-color: var(--colorOscuro);
    color: var(--colorClaro);
    width: 100vw;
    height: 100px;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

.logo {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    height: 35px;
}

.listaMenu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.listaMenu a {
    text-decoration: none;
    color: var(--colorClaro);
    font-size: 18px;
    font-weight: bold;
}

.listaMenu a:hover {
    color: var(--colorContraste2);
}

/*------Main--------*/
.titulo {
    height: 75px;
    text-align: center;
    margin-top: 50px;
}

.titulo h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.titulo span {
    font-size: 40px;
}

.portafolio-contenido {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 2.5rem;
    margin-top: 5rem;
}

.fila {
    border: solid 4px #DDC292;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.fila img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.capa {
    font-size: 80px;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(250, 247, 247, 0.1), #277C5D);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 20px 40px;
    transition: height 0.5s;
}

.capa h5 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}

.capa p {
    color: var(--colorText  );
    font-size: 1rem;
    line-height: 1.8;
}

.capa i {
    color: var(--colorPrincipal);
    margin-top: 20px;
    font-size: 20px;
    background: var(--colorText);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fila:hover img {
    transform: scale(1.1);
}

.fila:hover .capa {
    height: 100%;
}

/* ---------FOOTER------- */

/* definir qué es lo que van a editar */
/* contenedor padre */
footer {
    /* dimensiones */
    width: 100vw;
    height: calc(100vh - 100px);
    /* aspectos generales */
    background-color: var(--colorClaro);
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    color: white;
    font-family: var(--tipografia);
}

.footer-contact {
    width: 100%;
    height: 100%;
}
.footer-social {
    background-color: var(--colorOscuro);
    height: 100%;
    width: 100%;
    text-align: center;
}

.footer-contact h2 {
    color: var(--colorOscuro);
    text-decoration: underline;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}

.footer-contact form {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}
.footer-contact textarea {
    border: solid var(--colorOscuro);
    margin-bottom: 10px;
    padding: 10px;
}

/*contendedor de mensajes*/
.mensaje-contact {
    height: 10vw;
    margin-top: 10px;
    font-family: var(--tipografia);
    border-radius: 10px;
}
.email-contact {
    height: 5vw;
    font-family: var(--tipografia);
    border-radius: 10px;
    border: solid var(--colorOscuro);
}
.text-emailcontact{
    font-family: var(--tipografia);
    color: #353530;
}
.text-mensajecontact{
    font-family: var(--tipografia);
    color: #353530;
    margin-top: 50px;
}

.botonEnviar {
    margin-top: 10px;
}

/* Los íconos en css y html, se toman como si fueran texto */
.redesSociales {
    text-align: center;
    color: #92DDC2;
}

i {
    margin: 15px;
    color: var(--colorClaro);
}

.footer-social p {
    font-family: var(--tipografia);
    color: var(--colorClaro);
    /* Color del texto */
}

.footer-contact button {
    font-family: var(--tipografia);
    background-color: var(--colorOscuro);
    /* Color de fondo del botón */
    color: var(--colorClaro);
    /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    transition: .45s ease;
}

.footer-contact button:hover{
    transform: scale(0.9);
}
.social-icons {
    height: 40px;
    padding-bottom: 80px;
}
.social-icons i {
    height: 30px;
    width: 30px;
    color: var(--colorText);
    font-size: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    transition: all .45s ease;
}

.social-icons i:hover{
    color: var(--colorContraste2);
  }

.footer-social a {
    color: var(--colorClaro);
    /* Color del enlace */
    text-decoration: none;
}

.p-redessociales{
    font-size: 30PX;
}
/*ESTE ES EL LOGO */
.logo-redes {
    height: 250px;
    align-items: center;
}

/* Añadir estilos responsivos si es necesario */
@media (max-width: 768px) {
    .site-footer {
        flex-direction: column;
    }
    
}
@media (max-width: 480px) {
    .listaMenu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;

    }
    .img-logo {
        height: 45px;
    }
    .titulo span {
        font-size:medium;
    }
    .portafolio-contenido {
        padding:  10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2.5rem;
        margin-top: 5rem;
    }
}
/* Estilos responsive iphone*/
@media only screen and (max-width: 768px) {
    .listaMenu{
        gap: 30px;
    }
}

/* Estilos responsive iPad */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    footer {
        height: 500px;
    }
    .footer-contact {
        height: 500px;
    }
    .footer-social {
        height: 500px;
    }
}